*,*::before,*::after{
margin:0;
padding:0;
box-sizing: border-box;
transition: all 2.5s ease-out;
line-height: 1.6em;
}


body{
  max-width: 1600px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  text-align: left;
  font-style: normal;
  font-weight: 100;

}


/*
@font-face {
  font family : "djh";
  src: url(fonts/dear-joe-hannes/DJHTRIAL.ttf);
  font-style: normal;
  font-weight: 100;
}
*/

h1{
  font-family: "djh";
  font-weight: 100;
}


img{
  max-width: 100%;
  display: block;
  height: auto;
}

.container{

  margin-left: auto;
  margin-right: auto;
    max-width: 1600px;
    margin: 0 auto;


}


h1{

  font-weight: 300;
  font-size: 1.7rem;
  margin-top: 0;
}

@media (min-width:60rem){
  h1{
    font-size: 3.7rem;
  }
}

/*header*/

logo{
  position: absolute;
  background: blue;
  height: 25vh;
  left: 0;
  right: 0;
  margin: 1em;
}
@media (min-width:75rem){

  logo{
    width: 80vw;
    height: auto;

  }
}
socinav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

socialnav li{
  display: inline-block;
  margin: 1em;
  float: right;
}

socialnav img{
  height: 50px;
  width: 50px;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin: 1em;
}
nav a{
  font-weight:600;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding: .5rem;
  color: black;
}

nav a:hover,
nav a:focus {
  color: #DDD;
}



.about-sewitwas{
  background-color: black;
  height: 80vh;
  padding-bottom: 10px;
  padding-top: .5vh;
}


@media(min-width:60rem){
  .about-sewitwas{
  height: 80vh;
}
}

@media(min-width:44.5rem){
  .about-sewitwas{
  height: 80vh;
}
}

@media(min-width:25.875rem){
  .about-sewitwas{
  height: 80vh;
}
}

.float-img{
  float: right;
  width: 225px;
  height: 350px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.about-sewitwas h1{
  color: white;
  font-family: "djh";
}

.about-sewitwas p{
  color: white;
  text-align: left;
  margin-left: 1.5em;
}

@media(min-width: 60rem) {
.about-sewitwas {
  height: 100vh;

}
.logo{
  height: 50vh;
  padding-top: -50vh;
  position: inherit;

}
}

/*about-sewcool*/
.about-sewcool-video{
  background-color: #232323;
  padding: 3em;
  width: 100vw;
  outline: 4px solid white;
  outline-offset: -2em;
  color: white;
  position: relative;

}

.about-sewcool-video h1{
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: .75em;
  background: #232323;
  padding: 0 .145em;

}
@media (min-width: 25rem){
  h1{
    font-size: 2rem;
  }

  .about-sewcool-video h1{
    top: .6em;
    padding: 0 .325em;
  }
}

@media(min-width: 60rem){

  h1{
    font-size: 2.5rem;
  }

  .about-sewcool{
    background-image: url(images/aboutme/chantel2.jpg);
    background-repeat: no-repeat;
    padding-bottom: 10em;
    height: 175vh;
    margin-left: auto;
    margin-right: auto;
  }

  .about-sewcool-video{
    height: auto;
    width: 100vw;
    margin-left: auto;
    top: -15em;
    box-shadow: 0 0 4em 0 rgba(0,0,0,.3);


  }

  .about-sewcool-video h1{
    top: .3em;
    left: 4rem;
    transform: translateX(0);

  }


.gallery{
background: grey;
padding-top: 40px;
margin: 0;

}

@media (min-width: 37rem){
  .gallery {
    margin: 3em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #222;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
.gallery-item img{
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 250px;
  width: 350px;
  padding: 1.5em;
}

.gallery-desc{
  margin: 1em;
  position:relative;
  z-index: 100;
  bottom: 0em;
  left:0em;
  right:0em;
  color: White;
  background: rgba(0,0,0,.50);
  padding: 1.5em;
  padding-bottom:2em;

}
.gallery-desc p{
  text-align: left;
}

@media (min-width: 60rem){
  .gallery-item {
    width:50%;

  }


.gallery-desc {
  transform: translateY(0%);

}

.gallery-item:hover .gallery-desc{
  transform: translateY(-75%);
}
}

/*
@media (min-width: 60rem){
  .invalid{
	display: grid;
	grid-template-columns: repeat(7,1fr) ;
  grid-template-rows: repeat(9,1fr) ;
	background-color: #292727;
	grid-gap: 3em;
	margin: 0;
	box-sizing: content-box;
	width: 1600px;
  }
}

*/



.invalid{
	display: grid;
  background-color: white;
	width: 1000px;
  max-width: 100%;
	height: 90vh;
	margin: 30px auto;
  grid-gap: 5px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9, 1fr);

}

.figure1{
  grid-column: 1/ span 2;
  grid-row: 1/ span 3;
  background-image: url("images/invalid/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;

}

.collection1{
  grid-column: 3/ span 3;
  grid-row: 1/ span 6;
  background-color: white;
}

.figure3{

  grid-column: 6/ span 2;
  grid-row: 1/ span 3;
  background-image: url("images/invalid/3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.figure5{

  grid-column: 1/ span 2;
  grid-row: 4/ span 3;
  background-image: url("images/invalid/5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.figure6{

  grid-column: 6/ span 2;
  grid-row: 4/ span 3;
  background-image: url("images/invalid/6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.figure7{

  grid-column: 1/ span 2;
  grid-row: 7/ span 3;
  background-image: url("images/invalid/7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.figure4{

  grid-column: 3/ span 3;
  grid-row: 7/ span 3;
  background-image: url("images/invalid/4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.figure10{

  grid-column: 6/ span 2;
  grid-row: 7/ span 3;
  background-image: url("images/invalid/10.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  .amalgamation{
  	display: grid;
    background-color: #FFFFFF;
  	width: 1000px;
    max-width: 100%;
  	height: 90vh;
  	margin: 30px auto;
    padding-bottom: 0px;
    grid-gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);

  }


  .fig1{
    grid-column: 1/ span 2;
    grid-row: 1/ span 4;
    background-image: url("images/chicagofashionshow/1.jpg" );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .collection3{
    grid-column: 3/ span 2;
    grid-row: 1/ span 4;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .fig2{
    grid-column: 5/ span 2;
    grid-row: 1/ span 4;
    background-image: url("images/chicagofashionshow/2.jpg" );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .fig3{
    grid-column: 1/ span 2;
    grid-row: 4/ span 4;
    background-image: url("images/chicagofashionshow/3.jpg" );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .fig7{
    grid-column: 3/ span 2;
    grid-row: 4/ span 4;
    background-image: url("images/chicagofashionshow/7.jpg" );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .fig8{
    grid-column: 5/ span 2;
    grid-row: 4/ span 4;
    background-image: url("images/chicagofashionshow/8.jpg" );
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
  }

  .kcfashionweek{
  	display: grid;
    background-color: #FFFFFF;
  	width: 1000px;
    max-width: 100%;
  	height: 90vh;
  	margin: 30px auto;
    padding-top: 0px;
    grid-gap: 5px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);

  }

  .one{
    grid-column: 1/ span 2;
    grid-row: 1/ span 3;
    background-image: url("images/kcfashionweek/1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .collection4{
    grid-column: 3/ span 4;
    grid-row: 1/ span 3;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .two{
    grid-column: 7/ span 2;
    grid-row: 1/ span 3;
    background-image: url("images/kcfashionweek/2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .three{
    grid-column: 1/ span 2;
    grid-row: 4/ span 3;
    background-image: url("images/kcfashionweek/3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .four{
    grid-column: 3/ span 2;
    grid-row: 4/ span 3;
    background-image: url("images/kcfashionweek/4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .five{
    grid-column: 5/ span 2;
    grid-row: 4/ span 3;
    background-image: url("images/kcfashionweek/5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .six{
    grid-column: 7/ span 2;
    grid-row: 4/ span 3;
    background-image: url("images/kcfashionweek/6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .seven{
    grid-column: 1/ span 2;
    grid-row: 7/ span 3;
    background-image: url("images/kcfashionweek/7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .eight{
    grid-column: 3/ span 2;
    grid-row: 7/ span 3;
    background-image: url("images/kcfashionweek/8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .nine{
    grid-column: 5/ span 2;
    grid-row: 7/ span 3;
    background-image: url("images/kcfashionweek/9.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .ten{
    grid-column: 7/ span 2;
    grid-row: 7/ span 3;
    background-image: url("images/kcfashionweek/10.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  h2{

    font-weight: 600;
    font-size: 1.9rem;
    margin-top: 0;
  }

  p{

    font-weight: 400;
    font-size: 22px;
  }


/*BLOG*/

article img { width:auto; max-width:100%; height:auto; }

.sidebar a, article a, header a, footer a { color: #000000;text-decoration:none; }
header a { text-decoration: none; text-align:center;color#000;text-shadow: 3px 3px #ccc;}

#wrapper {
font-size: 0.8em;
max-width: 1000px;
margin: 0 auto;
}

header {
	padding: 1em 0;
	margin: 0px auto;
	float: center;
	max-width: 95%;
}
header hgroup {
  width: 100%;
  font-weight:normal;
  color:#000;
  font-family:"Pacifico",tahoma,serif;
  text-align:center;
  font-size:2em;
  padding:10px;}




nav {
	display: block;
	margin: 0 0 4em;
	padding: 0px;
	float: left;
	width: 100%;
	background-color: #fff;
	color:#000;
	border-top: thin solid;
  border-bottom: thin solid;

}
nav ul ul {display: none;}
nav ul li:hover > ul {display: block;}

nav ul {
	padding: 0;
	list-style: none;
	position: relative;
	display: inline-table;
	z-index: 9999;
	margin: 0px;
	float: left;
	width: 100%;
}
nav ul:after {content: ""; clear: both; display: block;}

nav ul li {float: left;}

nav ul li:hover a {color: #000;}

nav ul li a {
display: block;
padding: 0.5em;
font-size: 1.125em;
color: #6B6868;
text-decoration: none;
margin: 0px;
background-color: #fff;
text-transform:uppercase;
font-family:tahoma,serif;
}
nav ul li:last-of-type a {border-right: none;}


nav ul ul {
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	width: auto;
	float: none;
}
nav ul li:hover {
	background: #ccc;
	color: #FFF;
}
nav ul ul li a:hover {
	background-color: #ccc;
}

nav ul ul li {
float: none;
border-bottom: 1px solid #444240;
position: relative;
}

nav ul ul li a {
padding: 0.5em 1em;
font-size: 1em;
width:10em;
color: #fff;
}


nav ul ul ul {
position: absolute; left: 100%; top:0;
}

/* css for <section class='content'> */

section.content { width: 70%; float:left; }
.content article { width:100%; float:left; padding:1em; margin: 0 0 1em; border: 1px solid #ddd; }
article .entry { clear:both; padding: 0 0 1em; }
h1.post-title { font-family:'pacifico';
  font-size: 1.8em; margin:0; padding:0;text-decoration: none;font-weight: normal;text-transform: uppercase;}
ht.post-title a{text-decoration:none;}
.entry.post-meta { color: #888; }
.entry.post-meta span { padding: 0 1em 0 0; }
.entry.post-content { font-size: 1.125em; margin:0; padding:0;}


aside.sidebar { width: 25%; float:right; }
aside.sidebar ul {
	width:100%;
	margin: 0px;
	padding: 0px;
	float: left;
	list-style: none;
}
aside.sidebar ul li {
	width:100%;
	margin: 0px 0px 2em;
	padding: 0px;
	float: left;
	list-style: none;
}
aside.sidebar ul li ul li {
	margin: 0px 0px 0.2em;
	padding: 0px;
}
aside.sidebar ul li ul li ul li {
	margin: 0px;
	padding: 0px 0px 0px 1em;
	width: 90%;
	font-size: 0.9em;
}
aside.sidebar ul li h3.widget-title {
	width:100%;
	margin: 0px;
	padding: 0px;
	float: left;
        font-size: 1.45em;
	color:#BBBBBB;
	font-family:pacifico,tahoma,serif;
	text-shadow: 1px 1px #000;

}
aside.sidebar  a{
  text-decoration:none;
}

/* ipad 768px */
@media only screen and (min-width:470px) and (max-width:770px){

#wrapper { width:96%; font-size: 0.6875em; }
section.content, aside.sidebar { width:98%; }
.content article{border:none;}

}

/* iphone 468px */
@media only screen and (min-width:270px) and (max-width:470px){

#wrapper { width:96%; font-size: 0.6875em; }
section.content, aside.sidebar { width:98%; }
.content article{border:none;}
}
